@model BookSale.Management.Application.DTOs.Checkout.UserCheckoutDTO

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Single Page Header start -->
<div class="container-fluid page-header py-5">
    <h1 class="text-center text-white display-6 text-uppercase">Checkout</h1>
    <p class="text-center mb-0 fw-bold">Check cart and information</p>
</div>
<!-- Single Page Header End -->

<!--begin::Form Address-->
@await Html.PartialAsync("_ShowAddress.cshtml", ViewData["ListAddess"])
<!--end::Form Address-->

<!-- Checkout Page Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <h1 class="mb-4">Billing details</h1>
        <a id="btn-add" class="btn border-secondary text-uppercase text-primary">Show list address</a>

        <form asp-controller="Checkout" asp-action="PaymentOrder" method="post" asp-antiforgery="true">
            <div class="row g-5">
                <div id="input-fields" class="col-md-12 col-lg-6 col-xl-5">
                    <div class="row">
                        <input type="hidden" id="paypal-order-id">
                        <div class="col-md-12 col-lg-6">
                            <div class="form-item w-100">
                                <label class="form-label my-3">Name<sup style="color:red">*</sup></label>
                                <input type="text" class="form-control required-field" placeholder="Full name" name="Fullname" asp-for="Fullname">
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-6">
                            <div class="form-item w-100">
                                <label class="form-label my-3">Phone<sup style="color:red">*</sup></label>
                                <input type="text" class="form-control required-field" placeholder="Phone Number" name="PhoneNumber" asp-for="PhoneNumber">
                            </div>
                        </div>
                    </div>
                    <div class="form-item">
                        <label class="form-label my-3">Email <sup style="color:red">*</sup></label>
                        <input type="text" class="form-control required-field" placeholder="Email" name="Email" asp-for="Email">
                    </div>
                    <div class="form-item">
                        <label class="form-label my-3">Address <sup style="color:red">*</sup></label>
                        <input type="text" class="form-control required-field" placeholder="House Number Street Name" name="Address" asp-for="Address">
                    </div>

                    <div class="text-center align-items-center justify-content-center pt-4">
                        <button id="showPayment" type="button" class="btn btn-outline-info py-3 px-4 text-uppercase w-100">Tiến hành thanh toán</button>
                    </div>
                </div>
                <div class="col-md-12 col-lg-6 col-xl-7">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    double totalCart = 0;
                                    var listBook = ViewBag.ListBook as IEnumerable<BookSale.Management.Application.DTOs.Book.BookForCart>;


                                    if (listBook is not null && listBook.Count() > 0)
                                    {
                                        foreach (var item in listBook)
                                        {
                                            string truncatedTitle = item.Title.Length > 25 ? item.Title.Substring(0, 24) + "..." : item.Title;

                                            <tr data-code="@item.Code">
                                                <td class="py-5">
                                                    <p class="mb-0">@truncatedTitle</p>
                                                </td>

                                                <td class="py-5">
                                                    <p class="mb-0">@item.Price.ToString("C", CultureInfo.GetCultureInfo("vi-VN"))</p>
                                                </td>

                                                <td class="py-5">
                                                    <p class="mb-0 text-center">@item.Quantity</p>
                                                </td>

                                                <td class="py-5">
                                                    <p class="mb-0" data-code="@item.Code">@((item.Quantity * item.Price).ToString("C", CultureInfo.GetCultureInfo("vi-VN")))</p>
                                                </td>
                                            </tr>

                                            totalCart += (item.Quantity * item.Price);
                                        }
                                    }
                                }
                                <tr>
                                    <td class="py-5">
                                        <p class="mb-0 text-dark fw-bold text-uppercase py-3">TOTAL</p>
                                    </td>
                                    <td class="py-5"></td>
                                    <td class="py-5 fw-bold text-center" colspan="2">
                                        <div class="py-3 border-bottom border-top">
                                            <p class="mb-0" style="color:red">@totalCart.ToString("C", CultureInfo.GetCultureInfo("vi-VN"))</p>
                                            <input type="hidden" asp-for="TotalAmount" value="@totalCart">
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
        
                    <div class="row g-4 text-center align-items-center justify-content-center border-bottom py-3 hidden">
                        <div class="col-4">
                            <div class="form-check text-start my-3">
                                <input type="radio" asp-for="PaymentMethod" value="1" checked />
                                <label class="form-check-label" for="Payments-1">Cash</label>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="form-check text-start my-3">
                                <input type="radio" asp-for="PaymentMethod" value="2" />
                                <label class="form-check-label" for="Delivery-1">Paypal</label>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="form-check text-start my-3">
                                <input type="radio" asp-for="PaymentMethod" value="3" />
                                <label class="form-check-label" for="Delivery-1">VnPay</label>
                            </div>
                        </div>
                    </div>

                    <div id="paypalDiv" class="row g-4 text-center align-items-center justify-content-center border-bottom py-3 hidden">
                        <div id="paypal-button-container"></div>
                    </div>

                    <div id="cashDiv" class="row g-4 text-center align-items-center justify-content-center pt-4 hidden">
                        <button type="submit" class="btn border-secondary py-3 px-4 text-uppercase w-100 text-primary">Place Order</button>
                    </div>

                    <div id="vnpayDiv" class="row g-4 text-center align-items-center justify-content-center pt-4 hidden">
                        <button type="submit" class="btn border-secondary py-3 px-4 text-uppercase w-100 text-primary">VnPay</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- Checkout Page End -->

@section Scripts {
    <script src="https://www.paypal.com/sdk/js?client-id=@ViewBag.PaypalAppId"></script>
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    <script src="~/user/config_application/checkout/showaddress.js"></script>
    <script src="~/user/config_application/checkout/buttoncheckform.js"></script>
    <script src="~/user/config_application/checkout/radiochangepayment.js"></script>
}