@using BookSale.Management.Application.DTOs;
@model IEnumerable<BookSale.Management.Application.DTOs.BookDTO>;

@{
    ViewData["Title"] = "Home Page";
}

<!-- Hero Start -->
<div class="container-fluid py-5 mb-5 hero-header">
    <div class="container py-5">
        <div class="row g-5 align-items-center">
            <div class="col-md-12 col-lg-7">
                <h4 class="mb-3 text-secondary">100% Organic Foods</h4>
                <h1 class="mb-5 display-3 text-primary">Organic Veggies & Fruits Foods</h1>
                <div class="position-relative mx-auto">
                    <input class="form-control border-2 border-secondary w-75 py-3 px-4 rounded-pill" type="number" placeholder="Search">
                    <button type="submit" class="btn btn-primary border-2 border-secondary py-3 px-4 position-absolute rounded-pill text-white h-100" style="top: 0; right: 25%;">Submit Now</button>
                </div>
            </div>
            <div class="col-md-12 col-lg-5">
                <div id="carouselId" class="carousel slide position-relative" data-bs-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active rounded">
                            <img src="~/User/img/hero-img-1.png" class="img-fluid w-100 h-100 bg-secondary rounded" alt="First slide">
                            <a href="#" class="btn px-4 py-2 text-white rounded">Fruites</a>
                        </div>
                        <div class="carousel-item rounded">
                            <img src="~/User/img/hero-img-2.jpg" class="img-fluid w-100 h-100 rounded" alt="Second slide">
                            <a href="#" class="btn px-4 py-2 text-white rounded">Vesitables</a>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselId" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselId" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Hero End -->

<!-- Vesitable Shop Start-->
<div class="container-fluid vesitable py-5">
    <div class="container py-5">
        <h1 class="mb-0">Fresh Organic Vegetables</h1>
        <div class="owl-carousel vegetable-carousel justify-content-center">
            @{
                string result;
                var genreList = ViewData["GenreList"] as IEnumerable<GenreDTO>;
                if (genreList != null)
                {
                    foreach (var item in Model)
                    {
                        result = ImageHelper.GetImageUrl(item.Image ?? string.Empty, Context);

                        <div class="border border-primary rounded position-relative vesitable-item">
                            <div class="vesitable-img">
                                <img src="@result" class="img-fluid w-100 rounded-top" alt="">
                            </div>
                            @{
                                var genre = genreList.FirstOrDefault(x => x.Id == item.GenreId);
                                if (genre != null)
                                {
                                    <div class="text-white bg-primary px-3 py-1 rounded position-absolute" style="top: 10px; right: 10px;">@(genreList.FirstOrDefault(x => x.Id == item.GenreId)?.Name ?? "Unknown")</div>
                                }
                                else
                                {
                                    <div class="text-white bg-primary px-3 py-1 rounded position-absolute" style="top: 10px; right: 10px;">NULL</div>
                                }
                            }
                            <div class="p-4 rounded-bottom">
                                <h4 style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">@item.Title</h4>
                                <p style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">@item.Author</p>
                                <div class="d-flex justify-content-between flex-lg-wrap">
                                    <p class="text-dark fs-5 fw-bold mb-0">@item.Price.ToString("C", CultureInfo.GetCultureInfo("vi-VN"))</p>
                                    <a data-code="@item.Code" class="btn btn-add-cart border border-secondary rounded-pill px-3 text-primary"><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart</a>
                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <p>NO DATA</p>
                }
            }
        </div>
    </div>
</div>
<!-- Vesitable Shop End -->