@model IEnumerable<BookSale.Management.Application.DTOs.Book.BookForCart>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Single Page Header start -->
<div class="container-fluid page-header py-5">
    <h1 class="text-center text-white display-6">Cart</h1>
    <ol class="breadcrumb justify-content-center mb-0">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Pages</a></li>
        <li class="breadcrumb-item active text-white">Cart</li>
    </ol>
</div>
<!-- Single Page Header End -->

<!-- Cart Page Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Products</th>
                        <th scope="col">Name</th>
                        <th scope="col">Price</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Total</th>
                        <th scope="col">Handle</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        double totalCart = 0;
                        string result;
                        int itemTotal = 0;

                        if (Model is not null)
                        {
                            foreach (var item in Model)
                            {
                                result = ImageHelper.GetImageUrl(item.Image, Context);

                                <tr data-code="@item.Code">
                                    <th scope="row">
                                        <div class="d-flex align-items-center">
                                            <img src="@result" class="img-fluid me-5 rounded-circle" style="width: 80px; height: 80px;" alt="">
                                        </div>
                                    </th>
                                    <td>
                                        <p class="mb-0 mt-4">@item.Title</p>
                                    </td>
                                    <td>
                                        <p class="mb-0 mt-4">@item.Price.ToString("C", CultureInfo.GetCultureInfo("vi-VN"))</p>
                                    </td>
                                    <td>
                                        <div class="input-group quantity mt-4" style="width: 100px;">
                                            <div class="input-group-btn">
                                                <button onclick="updateQuantity('@item.Code','minus')" class="btn btn-sm btn-minus rounded-circle bg-light border">
                                                    <i class="fa fa-minus"></i>
                                                </button>
                                            </div>
                                            <input type="text" class="form-control form-control-sm text-center border-0" value="@item.Quantity" data-code="@item.Code">
                                            <div class="input-group-btn">
                                                <button onclick="updateQuantity('@item.Code','plus')" class="btn btn-sm btn-plus rounded-circle bg-light border">
                                                    <i class="fa fa-plus"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <p class="mb-0 mt-4" data-code="@item.Code">@((item.Quantity * item.Price).ToString("C", CultureInfo.GetCultureInfo("vi-VN")))</p>
                                    </td>
                                    <td>
                                        <button class="btn btn-md rounded-circle bg-light border mt-4">
                                            <i class="fa fa-times text-danger"></i>
                                        </button>
                                    </td>
                                </tr>

                                totalCart += (item.Quantity * item.Price);
                            }
                            itemTotal = Model.Count();
                        }
                        else
                        {
                            <tr>
                                <td colspan="6">No data</td>
                            </tr>    
                        }
                    }
                </tbody>
            </table>
        </div>
        <div class="row g-4 justify-content-end">
            <div class="col-8"></div>
            <div class="col-sm-8 col-md-7 col-lg-6 col-xl-4">
                <div class="bg-light rounded">
                    <div class="p-4">
                        <h1 class="display-6 mb-4">Cart <span class="fw-normal">Total</span></h1>
                        <div class="d-flex justify-content-between mb-4">
                            <h5 class="mb-0 me-4">Total item:</h5>
                            <p id="itemCartTotal" class="mb-0">@itemTotal</p>
                        </div>
                    </div>
                    <div class="py-4 mb-4 border-top border-bottom d-flex justify-content-between">
                        <h5 class="mb-0 ps-4 me-4">Total</h5>
                        <p class="mb-0 pe-4"><span id="cartTotal">@totalCart.ToString("C", CultureInfo.GetCultureInfo("vi-VN"))</span></p>
                    </div>
                    <button class="btn border-secondary rounded-pill px-4 py-3 text-primary text-uppercase mb-4 ms-4" type="button">Proceed Checkout</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Cart Page End -->

@section Scripts {
    <script src="~/user/config_application/cart/updatequantityitemincart.js"></script>
}

