@model BookSale.Management.Application.DTOs.ViewModels.BookViewModel

@{
    ViewData["Title"] = "SaveData";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>@(Model.Id == 0 ? "Create" : "Update") Data</h1>

<form class="forms-sample" asp-area="admin" asp-controller="book" asp-action="savedata"
      method="post" asp-antiforgery="true" enctype="multipart/form-data">
    @Html.Raw("<div asp-validation-summary='All' class='text-danger'></div>")
    <input asp-for="Id" type="hidden" class="form-control"/>

    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label asp-for="GenreId"></label><span class="text-danger">*</span>
                @Html.DropDownListFor(x => x.GenreId, (IEnumerable<SelectListItem>)ViewBag.Genre,
                         "Please select", new { @class = "form-control" })
                <span class="text-danger" asp-validation-for="GenreId"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            <div class="form-group">
                <label asp-for="Title"></label><span class="text-danger">*</span>
                <input type="text" class="form-control p-input" id="Title" placeholder="Enter title" asp-for="Title">
                <span class="text-danger" asp-validation-for="Title"></span>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <label asp-for="Available"></label><span class="text-danger">*</span>
                <input type="text" class="form-control p-input" id="Available" placeholder="Enter available" asp-for="Available">
                <span class="text-danger" asp-validation-for="Available"></span>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <label asp-for="Code"></label>
                <div class="d-flex">
                    <input type="text" class="form-control p-input" id="Code" asp-for="Code" readonly>
                    <button type="button" id="btn-generate" class="btn btn-rounded btn-block btn-info btn-sm mt-1 ml-5">
                        <i class="fas fa-undo"></i> &nbsp; Generate
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            <div class="form-group">
                <label asp-for="Price"></label><span class="text-danger">*</span>
                <input type="text" class="form-control p-input" id="Price" placeholder="Enter price" asp-for="Price">
                <span class="text-danger" asp-validation-for="Price"></span>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <label asp-for="OldPrice"></label><span class="text-danger">*</span>
                <input type="text" class="form-control p-input" id="OldPrice" placeholder="Enter old price" asp-for="OldPrice">
                <span class="text-danger" asp-validation-for="OldPrice"></span>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <label asp-for="Publisher"></label><span class="text-danger">*</span>
                <input type="text" class="form-control p-input" id="Publisher" placeholder="Enter publisher" asp-for="Publisher">
                <span class="text-danger" asp-validation-for="Publisher"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            <div class="form-group">
                <label asp-for="Description"></label><span class="text-danger">*</span>
                <input type="text" class="form-control p-input" id="Description" placeholder="Enter description" asp-for="Description">
                <span class="text-danger" asp-validation-for="Description"></span>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <label asp-for="Author"></label><span class="text-danger">*</span>
                <input type="text" class="form-control p-input" id="Author" placeholder="Enter author" asp-for="Author">
                <span class="text-danger" asp-validation-for="Author"></span>
            </div>
        </div>
        <div class="col-4">
            <div class="form-check">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" asp-for="IsActive">
                    HIỂN THỊ
                </label>
            </div>
        </div>
    </div>

    
    <div class="row">
        <div class="col-4">
            <select id="imageSource" class="form-control">
                <option value="input">Chọn từ file</option>
                <option value="string">Chọn từ chuỗi string</option>
            </select>
        </div>

        <div class="col-4">
            <div id="imageString" class="form-group" style="display:none;">
                <input type="text" class="form-control" id="ImageText" asp-for="ImageText" placeholder="Nhập URL hình ảnh">
            </div>
        </div>
    </div>

    <div id="imageInput" class="row">
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <div  class="row">
                        @{
                            string urlImg = ViewBag.ImageBook;
                            string result = ImageHelper.GetImageUrl(urlImg, Context); ;
                        }

                        <div class="col-4">
                            <img src="@result" alt="Book Image" class="img-fluid" id="img-avatar" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="inputImage" class="row mt-2">
        <div class="col-4">
            <input type="file" class="form-control-file" id="Image" asp-for="Image">
        </div>
    </div>

    <div class="d-flex justify-content-end">
        <button type="submit" class="btn btn-primary">Submit</button>
        @Html.ActionLink("Cancel", "Index", "Book", null, new { @class = "btn btn-secondary ml-1" })
    </div>
</form>

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    <script src="~/admin/components/book_savedata.js"></script>
    <script src="~/admin/settingsjs/select_fileortext.js"></script>
}

