@model BookSale.Management.Application.DTOs.ViewModels.UserProfileViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Single Page Header start -->
<div class="container-fluid page-header py-5">
    <h1 class="text-center text-white display-6">Profile</h1>
    <ol class="breadcrumb justify-content-center mb-0">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Pages</a></li>
        <li class="breadcrumb-item active text-white">Profile</li>
    </ol>
</div>
<!-- Single Page Header End -->


<!-- Checkout Page Start -->
<div class="container-fluid py-5">
    <div class="row">
        <div class="col-md-12 col-lg-6 col-xl-7">
            <h2 class="text-center text-uppercase">Information Profile</h2>
            <div class="container py-5 d-flex justify-content-center">
                <form asp-controller="profile" asp-action="index" method="post" asp-antiforgery="true">
                    <div class="form-item w-100 mb-1">
                        <input type="text" class="form-control" placeholder="Email" asp-for="Fullname">
                    </div>

                    <div class="row">
                        <div class="col-md-12 col-lg-6">
                            <div class="form-item w-100 mb-1">
                                <input type="text" readonly class="form-control" placeholder="Username" asp-for="Username">
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-6">
                            <div class="form-item w-100 mb-1">
                                <input type="text" class="form-control" placeholder="Phone" asp-for="PhoneNumber">
                            </div>
                        </div>
                    </div>

                    <div class="form-item w-100 mb-1">
                        <input type="text" class="form-control" placeholder="Email" asp-for="Email">
                    </div>

                    <div class="form-item w-100 mb-1">
                        <input type="text" class="form-control" placeholder="Address" asp-for="Address">
                    </div>

                    <div class="text-center align-items-center justify-content-center row">
                        <div class="col-md-12 col-lg-6 m-2 d-flex">
                            <button type="submit" style="margin-right: 10px; width: 150px;" class="btn border-secondary text-uppercase text-primary flex-grow-1 mr-5">Update</button>
                            <a asp-controller="Profile" asp-action="Index" style="margin-left: 10px; width: 150px;" class="btn border-secondary text-uppercase text-primary flex-grow-1">Reload</a>
                            <a asp-controller="Home" asp-action="Index" style="margin-left: 10px; width: 150px;" class="btn border-secondary text-uppercase text-primary flex-grow-1">Home</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="col-md-12 col-lg-6 col-xl-5">
            <h2 class="text-uppercase">List address</h2>
            <div class="container py-5">
                @{
                    var getListAddress = ViewBag.ListAddress as IEnumerable<BookSale.Management.Application.DTOs.UserProfileDTO>;

                    if (getListAddress is not null)
                    {
                        foreach (var address in getListAddress)
                        {
                            <a href="#" class="address-link" data-name="@address.Fullname" data-address="@address.Address" data-phone="@address.PhoneNumber" data-email="@address.Email">Address @address.Fullname</a>
                            <br />
                        }

                        <a id="btn-add" style="margin-left: 10px; width: 150px;" class="btn border-secondary mt-2 text-uppercase text-primary flex-grow-1">Add new</a>
                    }
                    else
                    {
                        <p class="text-uppercase text-dark fw-bold">Click button add address !!!</p>
                        <a id="btn-add" style="margin-left: 10px; width: 150px;" class="btn border-secondary text-uppercase text-primary flex-grow-1">Add</a>
                    }
                }
            </div>
            <div id="address-info"></div>
        </div>
    </div>
</div>
<!-- Checkout Page End -->


<!--begin::Form Edit-->
@await Html.PartialAsync("_CreateAddress.cshtml", ViewData["UserProfileDTO"])
<!--end::Form Edit-->

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    <script src="~/user/config_application/user/user_clickaddress.js"></script>
    <script src="~/user/config_application/user/user_address.js"></script>
}

